@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar tu correo electrónico. Ahora puede iniciar sesión en el sistema.
    </p>
</div>
