@{
    ViewData["Title"] = "Nosotros";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Pirway, empresa cusqueña dedicada a la venta de productos de nuestra región como granos y menestras. Con la misión de ofrecer precios justos y pesos exactos. Tenemos como visión, ofrecer nuestros productos a la poblacion cusqueña a través de las diferentes plataformas digitales. Bienvenido a esta nueva experiencia online.</p>

<img src="~/images/Nosotros.jpg"  class="img-responsive"/>