@{
    ViewData["Title"] = "Contáctanos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pirway<br />
    Calle Lima A 30-2, San Jeronimo - Cusco<br />
    <abbr title="Phone">Whatsapp:</abbr>
    +51 921851879
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">toncrist@hotmail.com</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
<br />
<img src="~/images/Contactanos.jpg" class="img-responsive" />